<!DOCTYPE html>
<html>
    <head>
        <title>My page</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-mobile/1.4.5/jquery.mobile.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js" defer></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-mobile/1.4.5/jquery.mobile.min.js" defer></script>
    </head> 
    <body>
        <div data-role="page" id="pageone">
          <div data-role="header">
            <h1>Insert Page Title Here</h1>
          </div>

          <div data-role="main" class="ui-content">
            <p>Insert Content Here</p>
          </div>

          <div data-role="footer">
            <h1>Insert Footer Text Here</h1>
          </div>
        </div>
    </body>
</html>