<!DOCTYPE html>
<html>
    <head>
        <title>My page</title>
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-mobile/1.4.5/jquery.mobile.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/snap.js/1.9.3/snap.min.css">
        <style>
        #map, #map-canvas, #pages { width: 100%; height: 100%; padding: 0; }
        #pages, #pages *, #map { z-index: 1; }
        .ui-input-search { border-radius: 18px; }
        </style>
    </head>
    <body>
        <div class="snap-drawers">
          <div class="snap-drawer snap-drawer-left">
            <ul class="ui-listview ui-page-theme-a" data-role="listview">
              <li><a class="ui-btn" href="#routes">Routes</a></li>
              <li><a class="ui-btn" href="#routes">Favorites</a></li>
              <li><a class="ui-btn" href="#routes">Tables</a></li>
            </ul>
          </div>
          <div class="snap-drawer snap-drawer-right"></div>
        </div>

        <div id="pages">
          <div data-role="page" id="map">

            <div data-role="header">
              <a href="#" id="sidebar-btn" class="ui-btn ui-icon-bars ui-btn-icon-notext ui-corner-all"></a>
              <h1>Navigator</h1>
            </div>

            <div data-role="main" class="ui-content" id="map-canvas">
              
            </div>
          </div>

          <div data-role="page" id="routes">

            <form class="ui-filterable">
              <input type="number" data-type="search" id="filterable-input">
            </form>
            <ul data-role="listview" data-filter="true" data-input="#filterable-input">
              <li><a href="#">94</a></li>
              <li><a href="#">102</a></li>
              <li><a href="#">280</a></li>
              <li><a href="#">413</a></li>
              <li><a href="#">94</a></li>
              <li><a href="#">102</a></li>
              <li><a href="#">280</a></li>
              <li><a href="#">413</a></li>
              <li><a href="#">94</a></li>
              <li><a href="#">102</a></li>
              <li><a href="#">280</a></li>
              <li><a href="#">413</a></li>
              <li><a href="#">94</a></li>
              <li><a href="#">102</a></li>
              <li><a href="#">280</a></li>
              <li><a href="#">413</a></li>
              <li><a href="#">94</a></li>
              <li><a href="#">102</a></li>
              <li><a href="#">280</a></li>
              <li><a href="#">413</a></li>
              <li><a href="#">94</a></li>
              <li><a href="#">102</a></li>
              <li><a href="#">280</a></li>
              <li><a href="#">413</a></li>
              <li><a href="#">94</a></li>
              <li><a href="#">102</a></li>
              <li><a href="#">280</a></li>
              <li><a href="#">413</a></li>
              <li><a href="#">94</a></li>
              <li><a href="#">102</a></li>
              <li><a href="#">280</a></li>
              <li><a href="#">413</a></li>
            </ul>
              
            </div>
          </div>
        </div>


        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-mobile/1.4.5/jquery.mobile.min.js"></script>
        <script src="https://maps.google.com/maps/api/js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/snap.js/1.9.3/snap.min.js"></script>
        <script>
        var snapper = new Snap({
          element: document.getElementById('pages'),
          disable: 'right',
          touchToDrag: false
        });

        document.getElementById('sidebar-btn').addEventListener('click', function() {
          if( snapper.state().state=="left" ){
            snapper.close();
          } else {
            snapper.open('left');
          }
        }, false);

        $(document).on("mobileinit", function () {
          $.mobile.pageContainer = $("#pages");
        });

        /*
         * Google Maps documentation: http://code.google.com/apis/maps/documentation/javascript/basics.html
         * Geolocation documentation: http://dev.w3.org/geo/api/spec-source.html
         */
        $( document ).on( "pagecreate", "#map", function() {
            $.mobile.pageContainer.pagecontainer({
              beforechange: function( event, ui ) {
                snapper.close();
              }
            });

            var defaultLatLng = new google.maps.LatLng(34.0983425, -118.3267434);  // Default to Hollywood, CA when no geolocation support
            if ( navigator.geolocation ) {
                function success(pos) {
                    // Location found, show map with these coordinates
                    drawMap(new google.maps.LatLng(pos.coords.latitude, pos.coords.longitude));
                }
                function fail(error) {
                    drawMap(defaultLatLng);  // Failed to find location, show default map
                }
                // Find the users current position.  Cache the location for 5 minutes, timeout after 6 seconds
                navigator.geolocation.getCurrentPosition(success, fail, {maximumAge: 500000, enableHighAccuracy:true, timeout: 6000});
            } else {
                drawMap(defaultLatLng);  // No geolocation support, show default map
            }
            function drawMap(latlng) {
                var myOptions = {
                    zoom: 10,
                    center: latlng,
                    mapTypeId: google.maps.MapTypeId.ROADMAP
                };
                map = new google.maps.Map(document.getElementById("map-canvas"), myOptions);
                // Add an overlay to the map of current lat/lng
                var marker = new google.maps.Marker({
                    position: latlng,
                    map: map,
                    title: "Greetings!"
                });

                /*
                var pos = new google.maps.LatLng("{{ stat.latitude }}", "{{ stat.longitude }}");
                var marker = new google.maps.Marker({
                    position: pos,
                    map: map,
                    title: "{{ stat.name }}"
                });
                */
                var statId = Math.floor(Math.random() * 1000);
                $.getJSON("/getStationById/" + statId, function(res) {
                  var pos = new google.maps.LatLng(res.latitude, res.longitude);
                  var marker = new google.maps.Marker({
                      position: pos,
                      map: map,
                      title: res.name
                  });
                });
            }
        });
        </script>
    </body>
</html>
